.action-icons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; /* Use flex-end to push icons to the right */
}

.action-icon {
  width: 15px; /* Adjust the width of the icons */
  height: 15px; /* Adjust the height of the icons */
  cursor: pointer;
  margin-left: 5px; /* Adjust the margin between icons */
}
