<ion-card>
  <img
    src="https://img.freepik.com/premium-vector/three-different-size-boxes-isometric-vector-icon-illustration_658402-12.jpg"
    height="200"
    width="200"
  />
  <ion-card-header>
    <ion-card-title>{{box?.name}}</ion-card-title>

    <ion-card-subtitle>{{box?.material}}</ion-card-subtitle>

    <ion-card-subtitle>{{box?.length + ' x ' + box?.width + ' x ' + box?.height}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Material: {{box?.material}}<br>
    Volume: {{box?.volume}} cm<sup>3</sup><br>
    Price:  {{box?.price}} <br>
    Amount in stock:  {{box?.inventoryCount}}
  </ion-card-content>
  <div class="action-icons">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2004/2004560.png"
      class="action-icon"
      (click)="onEditClick(box)"/>
    <img
      src="https://cdn.icon-icons.com/icons2/2760/PNG/512/trash_delete_remove_recycle_bin_icon_176367.png"
      class="action-icon"
      (click)="onDeleteClick(box)"/>
  </div>
</ion-card>
