<ion-card class="small-card">
  <img src="https://us.123rf.com/450wm/yaydesign/yaydesign2004/yaydesign200400127/144211330-delivery-vector-image-shipping-fast-delivery-symbol.jpg?ver=6"/>
  <ion-card-header>
    <ion-card-title>{{box?.name}}</ion-card-title>
    <ion-card-subtitle>{{box?.length + ' x ' + box?.width + ' x ' + box?.height}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Material: {{box?.material}}<br>
    Volume: {{box?.volume}} cm<sup>3</sup><br>
    Price:  {{box?.price}} <br>
    Amount in stock:  {{box?.inventoryCount}}
  </ion-card-content>
  <div class="action-icons">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2004/2004560.png"
      class="action-icon"
      (click)="onEditClick()"/>
    <img
      src="https://cdn.icon-icons.com/icons2/2760/PNG/512/trash_delete_remove_recycle_bin_icon_176367.png"
      class="action-icon"
      (click)="onDeleteClick(box)"/>
  </div>
</ion-card>
