<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <ion-img src="https://cdn-icons-png.flaticon.com/512/1554/1554548.png"></ion-img>
    </ion-avatar>
    <ion-searchbar (ionChange)="filterResults($event)" color="primary" placeholder="Search" class="small-searchbar" slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngFor="let box of filteredBoxesList">
    <app-box [box]="box"></app-box>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="clickCreateBox()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


