.container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100vh;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.small-searchbar {
  max-width: 500px;
  width: 100%;
  text-align: left;
  --border-radius: 20px;
}


