.container {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

.small-searchbar {
  max-width: 500px;
  width: 100%;
  text-align: left;
  --border-radius: 20px;
}

.button{
  position: absolute;
  right: 525px;
  top: 10px;
}


